/11.10.24_примеси в кремнии_Черимичкина Н.А..xlsx
/18.10.24_ПКСА_Шишов Е.П..xlsx
/18.10.24_ПКСА_Шишов Е.П._2.xlsx
/low steel may 2024_KS.xml
/low steel may 2024_KS~F6CA7171.xml
/output.dat
/output.xls
/output.xml
/test.xml
/testXsl.py
/~$18.10.24_ПКСА_Шишов Е.П..xlsx
*.xls
*.xlsx
*.xml
/venv/


/file_version_info.txt
